.q-markdown-input__field {
  > .q-field {
    .q-field__control {
      height: calc(100% - 72px);
    }

    .q-field__control-container {
      height: 100%;
    }

    .q-field__native {
      padding-left: 15px;
      padding-right: 15px;
      resize: none;
    }
  }
}

.q-markdown-input__preview {
  height: 400px;
  // border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .q-markdown {
    height: 100%;
    padding: 0 15px 100px 15px;
    border-bottom: 1px solid $border-color;
  }
}

.q-markdown-input__header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 15px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  > span {
    font-size: 0.8rem;
    color: #a0aabf;
  }
}

.q-markdown-input__block-dropdown {
  label {
    color: #a0aabf;
  }
}

.q-markdown-input--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: #fff;

  .q-splitter {
    height: 100% !important;
  }

  .q-markdown-input__preview {
    height: 100%;
  }

  .q-markdown {
    height: 100vh;
  }
}
